/*if this keeps bugging wtf*/

.img_container{
	--n: 1;
	--i:0;
	--translation: calc(var(--i)/var(--n)*-100vwi);
	height:50vw;
	width: 100%;
	width: 100%;
	overflow-y: hidden;
	overflow-x: hidden;
	z-index: 0;
	max-height:100vh;
	position: relative;
	top: -5vh;
}

.img_container > img {
	  min-width: 100%;
	  width: 100%;
	  /*left:0vw*/
	  position:absolute;
}

.smooth {
	transition: transform .5s ease-out;
}

.ani_slide1{
	animation: slideA 15s 2.5s alternate infinite;
}

.ani_slide2{
	animation: slideB 15s 2.5s alternate infinite;
}

@keyframes slideA{
        0% {opacity:100%}
	100% {left:0%;}
}

@keyframes slideB{
	0% {opacity:0%}
	100% {opacity:100%;}
}

@media screen and (min-width:900px){
	.img_container{
		top:83vh;
		position:absolute;
	}
}
