.backUp{
	height:10vh;
	width:10vh;
	border: 0.5vh solid #91ffff;
	border-radius: 50%;
	top:70vh;
	left:95vw;
	position:fixed;
	z-index:5;
}

.upArrow{
	background-image: url(../../images/upArrow.svg);
	background-repeat: no-repeat;
	background-size: cover;
}

.arrowLink{
	text-decoration:none;
	color: #91ffff;
	font-size: 10vh;
}

.hidden{
	left:100vw;
}

.out{
	left:80vw;
}

.slide-in{
	-webkit-animation: 3s ease-in slide-in;
	animation: 3s ease-in slide-in;
}

.slide-out{
	-webkit-animation: 3s ease-out slide-out;
	animation: 3s ease-out slide-out;
}

@keyframes slide-out {
	from {left:100vw;
	      opacity:0%} 

	to {left:80vw;
	    opacity:100%}
}

@keyframes slide-in{
	from {left: 80vw;
	      opacity:100%}
	to {left: 100vw;
	    opacity: 0%}
    }

