

.App {
  text-align: center;
  background-color: pink;
  height: 85vh;
  position:relative;

}


.App-header {
  width: 97.5vw;
  background-color: var(--baseGrey);
  min-height: 40vh;
  height:110vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  overflow: hidden;
}

.veil{
	position:relative;
	top:0vh;
	height:100vh;
	width:98vw;
	background-color: #f19ec4;
	z-index:5;
}




@media screen and (min-width:750px){
	.App-header{
		width:100vw;
	}
}
