

.App {
  text-align: center;
  background-color: pink;
  height: 85vh;

}

.backUp{
  height:10vh;
  width:10vh;
  border: 0.5vh solid #91ffff;
  border-radius: 50%;
  top:70vh;
  left:80vw;
  position:fixed;
  z-index:5;
  }


.App-header {
  width: 100vw;
  background-color: var(--baseGrey);
  min-height: 40vh;
  height:90%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  overflow: hidden;
}




.App-link {
  color: #61dafb;
}


.upArrow{
	background-image: url(../../images/upArrow.svg);
	background-repeat: no-repeat;
	background-size: cover;
}

.arrowLink{
	text-decoration:none;
	color: #91ffff;
	font-size: 10vh;
}



.flower{
	height:40vh;
	width:40vh;
	border: 1px solid pink;
	border-radius: 40% 0%;
	z-index:3;
}

.flowerFrame{
	height:45vh;
	width:45vh;
	display:flex;
	flex-flow: column nowrap;
	justify-content:center;
	align-items:center;
	background-color:var(--baseGrey);
	border: 2px solid pink;
	border-radius: 0% 60%;
	z-index:3;

}

.wrapFrameBackground{

}

.frameBackground{
	height:80%;
	width:50%;
	background-color:grey;
	z-index:1;
	display:flex;
	flex-flow:column nowrap;
	justify-content:center;
	align-items:center;
	z-index:2;

}

.frameBackgroundSquare{
	height:25%;
	width:25%;
	background-color:var(--baseGrey);
	z-index:2;
}


._selfie_frame{
        margin-bottom: -12.5vh;
        z-index:3;
}
._selfie{ 
	background-image: url("https://drive.google.com/thumbnail?id=11lCfdmSbhMTdQhf7XKnV87TS8fPDqUES");
	background-repeat: no-repeat;
	background-size: cover;
	margin:-23%;
}

.menu {
	z-index:3
}
