:root{
	--Desktop:1000;
	--WideScreen: 800;
	--Phone:450;
	--Tablet: 600;
	--device-width:--Tablet;
}



.Ymenu_body{
        top: -75vh;
        z-index:4;
	position:absolute;
	align-items:center;
	height:87%;
	width:100%;
}

.dragger{
	top:-10vh;
	position:absolute;
        border: 1px solid;
        border-radius:0.5vh;
	z-index:4;
}

.__rot45{                                           
	transform: rotate(45deg);          
}

.locked{
	overflow:hidden;
}

.scrolling{
	position:sticky;
}

