/***
 * basecolor is the base of this component (orange)
 * baseGrey is the base of the overall theme (charcoal Grey)
 ***/


.header-grid{
	display: grid;
	grid-template-rows: repeat(3,1fr);
	grid-template-columns: repeat(3,1fr);
	grid-auto-flow:column;
	grid-template-areas:
		"tl . tr"
		"ml c mr"
		"bl bc .";
	height: 50vh;
	--baseColor: orange;
	z-index: 1;
	background-color: var(--baseGrey);
	position:relative;
	top: 10vh;
}

.tile{
	background-color:var(--baseColor);
	height:20vh;
	width:20vh;
	position:relative;
	border: 1px solid var(--baseColor);
	z-index:1;

}


/*think ab dping a grey bottom border instead of this div */
.grey-tile{
	background-color:var(--baseGrey);
	height:2vh;
	width:110vw;
	grid-area:bc;
	z-index:2;
	position:relative;
	left:-50vw;
	top:-7vh;
}

.title{
	grid-area: c;
	position:relative;
	z-index:2;
	color: var(--baseColor);
	font-size:9vh;
	left:-26vh;
	top:-6vh;
	transform:rotate(-20deg);
	margin:0;
}

.title>span{
	color:var(--baseGrey);
}

.topLeft{
	grid-area: tl;
	left:0vw;
	top:0vh;
}


.topRight{
	transform:rotate(-30deg);
	grid-area: tr;
	left: -45vh;
	top: 9vh;
	border-top-left-radius: 23%;
}

.midLeft{
	grid-area: ml;
	top: 5vh;
	left: 2vh;
	border-top-left-radius: 37%;
	height:10vh;
}

.midRight{
	transform:rotate(30deg);
	grid-area: mr;
	top: 2vh;
	left: -45vh;
	height:14vh;

}

.botLeft{
	transform:rotate(-30deg);
	grid-area:bl;
	top: -29vh;
	left: 16vh;
	border-top-right-radius: 75%;
	border-top-left-radius: 30%;
}

.botCenter{
	grid-area:bc;
	top: -15vh;
	left: -3vh;
	width: 33vh;
	height: 9vh;
}

.profile-pic{
	top:-10vh;
	left:6vh;
	position:relative;
}

.tl{
	grid-area:tl;
}

.bc{
	grid-area:bc;
}
	

@media screen and (min-width:900px){

	.header-grid{
		top:-8vh;
		left:5vw;
	}

	.profile-pic{
		top: 10vh;
	}

	.title{
		top:-4vh;
		left:-6vw;
		font-size:9vh;
		margin:0px;
	}
	.topRight{
		height:10vh;
		width:10vh;
		top: 2vh;
		left:2vh;
		border-radius: 45% 45% 0% 0%;
	}

	.midRight{
		height:15vh;
		width:30vh;
		top:-21vh;
		left:4vh;
		transform:rotate(0deg);
		border-radius: 60% 0% 69% 30%;
	}

	.botCenter{
		width:33vh;
		height:30vh;
		top:-22vh;
		left:-5vh;
		transform: rotate(38deg);
		border-radius: 30% 0% 70% 30%;
	}


	.midLeft{
		top:20vh;
		border-radius: 37% 0%;
	}

	.botLeft{
		top:-10vh;
		border-radius: 30% 75% 27% 68%;
		left:
	}

	.profile-pic{
		top:0vh;
		left:50vw;
	}

	.grey-tile{
		width:1vw;
		height:1vw;
		left:34.5vw;
		top:-48vh;
		border:1px solid var(--baseGrey);
		border-radius: 50%;

	}
}
