

.-grid{
	display:grid;
	grid-template-columns:repeat(var(--colCount),1fr);
	grid-template-rows:repeat(var(--rowCount),1fr);
}

/*SIZES*/

.-mediumPortrait{
	width:40vw;
	height:40vh;
}

.-smallPortrait{
	width:25vw;
	height:30vh;
}

