

._selfie{
	background-image: url("https://drive.google.com/thumbnail?id=11lCfdmSbhMTdQhf7XKnV87TS8fPDqUES");
	background-repeat: no-repeat;
	background-size: cover;
	z-index:3;
	position: relative;
	border: 2px solid white;
	margin:0;
	position: relative;
	height:30vh;
	width:30vh;
	border-radius:50%;
}

